# GLASS IDENTIFICATION

# Importing Libraries

In [37]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn import preprocessing

# Importing Dataset

In [5]:
glass = pd.read_csv("C:/Users/chandu/Desktop/Imarticus/glass.csv",header=None)
glass.head()

         0      1     2     3      4     5     6   7   8     9
0       RI     Na    Mg    Al     Si     K    Ca  Ba  Fe  Type
1  1.52101  13.64  4.49   1.1  71.78  0.06  8.75   0   0     1
2  1.51761  13.89   3.6  1.36  72.73  0.48  7.83   0   0     1
3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78   0   0     1
4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22   0   0     1

In [6]:
glass.shape

(215, 10)

In [7]:
glass.isnull().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
dtype: int64

In [8]:
glass.describe()

              0      1    2     3      4    5     6    7    8    9
count       215    215  215   215    215  215   215  215  215  215
unique      179    143   95   119    134   66   144   35   33    7
top     1.52152  13.21    0  1.54  73.11    0  8.03    0    0    2
freq          3      5   42     8      4   30     5  176  144   76

In [9]:
glass.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

# Renaming Columns

In [11]:
names = ['RI','Na','Mg','Al','Si','K','Ca','Ba','Fe','glass_type']
glass.columns = names
glass.head()

        RI     Na    Mg    Al     Si     K    Ca  Ba  Fe glass_type
0       RI     Na    Mg    Al     Si     K    Ca  Ba  Fe       Type
1  1.52101  13.64  4.49   1.1  71.78  0.06  8.75   0   0          1
2  1.51761  13.89   3.6  1.36  72.73  0.48  7.83   0   0          1
3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78   0   0          1
4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22   0   0          1

In [12]:
glass = glass.iloc[1:]

In [13]:
glass.head()

        RI     Na    Mg    Al     Si     K    Ca Ba Fe glass_type
1  1.52101  13.64  4.49   1.1  71.78  0.06  8.75  0  0          1
2  1.51761  13.89   3.6  1.36  72.73  0.48  7.83  0  0          1
3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0  0          1
4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0  0          1
5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0  0          1

# Scaling

In [38]:
scaler = MinMaxScaler()
X=preprocessing.scale(X)

In [21]:
features = ['RI','Na','Mg','Al','Si','K','Ca','Ba','Fe']
label = ['glass_type']

X = glass[features]

y = glass[label]

# Train,Test Splitting

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0,stratify=y)

In [25]:
y_train = y_train.values.ravel()
y_test = y_test.values.ravel()

In [26]:
print('Shape of X_train = ' + str(X_train.shape))
print('Shape of X_test = ' + str(X_test.shape))
print('Shape of y_train = ' + str(y_train.shape))
print('Shape of y_test = ' + str(y_test.shape))

Shape of X_train = (160, 9)
Shape of X_test = (54, 9)
Shape of y_train = (160,)
Shape of y_test = (54,)

# KNN Model

In [27]:


Scores = []

for i in range (2,11):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_train, y_train)
    score = knn.score(X_test,y_test)
    Scores.append(score)

print(knn.score(X_train,y_train))
print(Scores)

0.68125
[0.6296296296296297, 0.6296296296296297, 0.6851851851851852, 0.7037037037037037, 0.6666666666666666, 0.6481481481481481, 0.7037037037037037, 0.7037037037037037, 0.7407407407407407]